.Header {
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #ddd;
    /* background: linear-gradient(to left, #172c56 65%, #fff 95%); */
    color: #172c56;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;
    z-index: 4;
}
.LogoWrapper {
    width: 200px;
    max-width: 25%;
    display: flex;
    flex-grow: 1;
    position: relative;
}
.Logo {
    height: 80px;
    object-fit: cover;
}
.LogoMobile { display: none; }
.ChooseLangLabel {
    font-size: 10px;
    border-radius: 5px;
    opacity: 0.8;
    margin-bottom: 2px;
}
.ChooseLangArea {
    padding: 0px 25px;
    height: 55px;
    border-radius: 8px;
    background-color: #eee;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.OptionItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.LanguageOptions {
    position: absolute;
    top: 100%;right: 0px;
    background-color: #172c56;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.FlagIcon {
    height: 30px;
}

.Navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
    flex-grow: 1;
    justify-content: center;
}
.NavItem {
    padding: 30px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #172c56;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
}
.NavItemActive {
    text-decoration: underline;
}
.NavigationMobile,.MenuToggle {
    display: none;
}
.Navigation ul {
    position: absolute;
    background-color: #172c56;
    border-radius: 12px;
    top: -662px;
    margin-left: -20px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
}
.NavItem:focus ul,
.NavItem:hover ul {
    top: 50px;
}
.NavSubItem {
    padding: 12px 35px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.SubSubMenu {
    position: absolute;
    top: 0px;left: 100%;
    margin-left: 20px !important;
    padding: 20px !important;
    margin-top: -50px;
    display: none !important;
    background-color: #fff !important;
    box-shadow: 1px 1px 5px 1px #172c5630;
}
.SubSubMenu a {
    color: #172c56 !important;
    letter-spacing: 1px;
    display: flex;
    height: 40px;
    padding: 0px 20px;
    align-items: center;
}
.NavSubItem:hover .SubSubMenu {
    display: flex !important;
}

@media (max-width: 480px) {
    .LogoDesktop { display: none; }
    .LogoWrapper {
        width: 200px;
        max-width: 100%;
    }
    .LogoMobile {
        display: flex;
    }
    .Logo {
        height: 50px;
    }
    .Header {
        /* background: linear-gradient(to left, #172c56 5%, #fff 65%); */
        background-color: #fff;
        gap: 20px;
        padding: 0px 20px;
    }
    .Navigation {
        display: none;
    }
    .MenuToggle {
        display: block;
        color: #172c56;
    }
    .NavigationMobile {
        display: block;
        position: fixed;
        top: 52px;right: -140%;bottom: 0px;
        transition: 0.4s;
        width: 100%;
        background-color: #fff;
        padding-top: 80px;
    }
    .NavigationMobileActive {
        right: 0%;
    }
    .NavItem {
        color: #172c56;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        font-size: 32px;
        flex-wrap: wrap;
    }
    .NavSubItem {
        font-size: 20px;
        color: #172c5690;
        text-decoration: none !important;
        margin: 10px 0px;
    }
    .NavigationMobileActive .NavItem ul {
        position: static;
        width: 100%;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: none;
        padding-left: 0px;
    }
    .NavItem:hover ul,
    .NavItem:focus ul {
        display: flex;
        flex-direction: column;
    }
    .LogoWrapper {
        flex-grow: 1;
    }
    .MenuToggle {
        padding: 10px;
    }
    .SubSubItemMobile {
        padding: 0px;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 35px;
        font-size: 14px;
        letter-spacing: 1px;
    }
}